{{--<header role="banner">--}}
    {{--<nav class="navbar navbar-expand-lg ">--}}
        {{--<div class="container">--}}

            {{--<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">--}}
                {{--<span class="navbar-toggler-icon"></span>--}}
                {{--</button>--}}
            {{--<div class="navbar-collapse collapse" id="navbarsExample05" style="">--}}
                {{--<ul class="navbar-nav ">--}}
                    {{----}}
                    {{--</ul>--}}
                {{--</div>--}}
            {{--</div>--}}
        {{--</nav>--}}
    {{--</header>--}}
        {{--<nav class="navbar navbar-expand-lg navbar-light ">--}}
{{--<button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">--}}
    {{--<span class="navbar-toggler-icon"></span>--}}
    {{--</button>--}}
{{--<div class="collapse navbar-collapse" id="navbarText">--}}
    {{--<ul class="navbar-nav mr-auto">--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link " href="{{route('home')}}">Home</a>--}}
            {{--</li>--}}

        {{--@foreach($contents as $content)--}}
        {{--@if($content->child->isEmpty() && $content->parent_id == '' )--}}

        {{--<li class="nav-item"  >--}}
            {{--<a class="nav-link " href="{{route('content.show',[$content->slug])}}">{{$content->title}}</a>--}}
            {{--</li>--}}

        {{--@else--}}
        {{--@if($content->child->isNotEmpty() && $content->parent_id == '' )--}}
        {{--<?php $sub_menus = $content->child()->pluck('slug')->toArray();?>--}}
        {{--<li class="nav-item dropdown ">--}}
        {{--<a class="nav-link dropdown-toggle" href="javascript:void(0)">{{$content->title}}</a>--}}
        {{--<div class="dropdown-menu">--}}
            {{--@foreach($content->child as $firstchild)--}}


            {{--<a class="dropdown-item" href="{{route('content.show',[$firstchild->slug])}}">{{$firstchild->title}}</a>--}}


            {{--@endforeach--}}
            {{--</div>--}}
        {{--@endif--}}
        {{--@endif--}}
        {{--@endforeach--}}
        {{--<li class="nav-item dropdown">--}}
            {{--<a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adoption</a>--}}
            {{--<div class="dropdown-menu" aria-labelledby="dropdown04">--}}
                {{--<a class="dropdown-item" href="adoption.html">Adoption</a>--}}
                {{--<a class="dropdown-item" href="adoption.html">Waiting Children</a>--}}
                {{--<a class="dropdown-item" href="adoption-how-to.html">How to Adopt</a>--}}
                {{--</div>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('executive-committee.index')}}">Executive Committee</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('event.index')}}">Event</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('blogs.index')}}">Blog</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('gallery.index')}}">Gallery</a>--}}
            {{--</li>--}}

        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('contact.index')}}">Contact</a>--}}
            {{--</li>--}}
        {{--</ul>--}}

    {{--</div>--}}
{{--</nav>--}}{{--<header role="banner">--}}
{{--<nav class="navbar navbar-expand-lg ">--}}
    {{--<div class="container">--}}

        {{--<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">--}}
            {{--<span class="navbar-toggler-icon"></span>--}}
            {{--</button>--}}
        {{--<div class="navbar-collapse collapse" id="navbarsExample05" style="">--}}
            {{--<ul class="navbar-nav ">--}}
                {{----}}
                {{--</ul>--}}
            {{--</div>--}}
        {{--</div>--}}
    {{--</nav>--}}
{{--</header>--}}
        {{--<nav class="navbar navbar-expand-lg navbar-light ">--}}
{{--<button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">--}}
    {{--<span class="navbar-toggler-icon"></span>--}}
    {{--</button>--}}
{{--<div class="collapse navbar-collapse" id="navbarText">--}}
    {{--<ul class="navbar-nav mr-auto">--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link " href="{{route('home')}}">Home</a>--}}
            {{--</li>--}}

        {{--@foreach($contents as $content)--}}
        {{--@if($content->child->isEmpty() && $content->parent_id == '' )--}}

        {{--<li class="nav-item"  >--}}
            {{--<a class="nav-link " href="{{route('content.show',[$content->slug])}}">{{$content->title}}</a>--}}
            {{--</li>--}}

        {{--@else--}}
        {{--@if($content->child->isNotEmpty() && $content->parent_id == '' )--}}
        {{--<?php $sub_menus = $content->child()->pluck('slug')->toArray();?>--}}
        {{--<li class="nav-item dropdown ">--}}
        {{--<a class="nav-link dropdown-toggle" href="javascript:void(0)">{{$content->title}}</a>--}}
        {{--<div class="dropdown-menu">--}}
            {{--@foreach($content->child as $firstchild)--}}


            {{--<a class="dropdown-item" href="{{route('content.show',[$firstchild->slug])}}">{{$firstchild->title}}</a>--}}


            {{--@endforeach--}}
            {{--</div>--}}
        {{--@endif--}}
        {{--@endif--}}
        {{--@endforeach--}}
        {{--<li class="nav-item dropdown">--}}
            {{--<a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adoption</a>--}}
            {{--<div class="dropdown-menu" aria-labelledby="dropdown04">--}}
                {{--<a class="dropdown-item" href="adoption.html">Adoption</a>--}}
                {{--<a class="dropdown-item" href="adoption.html">Waiting Children</a>--}}
                {{--<a class="dropdown-item" href="adoption-how-to.html">How to Adopt</a>--}}
                {{--</div>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('executive-committee.index')}}">Executive Committee</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('event.index')}}">Event</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('blogs.index')}}">Blog</a>--}}
            {{--</li>--}}
        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('gallery.index')}}">Gallery</a>--}}
            {{--</li>--}}

        {{--<li class="nav-item">--}}
            {{--<a class="nav-link" href="{{route('contact.index')}}">Contact</a>--}}
            {{--</li>--}}
        {{--</ul>--}}

    {{--</div>--}}
{{--</nav>--}}